<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="scandipwa_customredirects_data_source" xsi:type="string">ScandiPWA\CustomRedirects\Model\ResourceModel\Redirects\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ScandiPWA\CustomRedirects\Model\ResourceModel\Redirects\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">scandipwa_redirects</argument>
            <argument name="resourceModel" xsi:type="string">ScandiPWA\CustomRedirects\Model\ResourceModel\Redirects</argument>
        </arguments>
    </virtualType>
    <type name="ScandiPWA\Router\Controller\Router">
        <plugin name="ScandiPWA_Router_Plugin" type="ScandiPWA\CustomRedirects\Plugin\RouterPlugin" sortOrder="10" disabled="false"  />
    </type>
</config>
